@import "tailwindcss";

@theme inline {
  --color-primary-orange: #F9541D;
  --color-primary-blue: #0072BB;
  --color-neutral-gray: #E3E3E3;
  --color-neutral-white: #FFFFFF;
  --color-neutral-brown: #20B2AA;
  --color-neutral-black: #000000;
  
  --font-sans: var(--font-inter);
  
  --text-display-mobile: 3.5rem;
  --text-display-desktop: 8rem;
}

body {
  background-color: var(--color-neutral-gray);
  font-family: var(--font-sans);
  color: var(--color-neutral-black);
}